<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623069830377-uj3ah178dnlcrgu6p9rslqqsbjfb1cso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623069830377-uj3ah178dnlcrgu6p9rslqqsbjfb1cso</string>
	<key>API_KEY</key>
	<string>AIzaSyBzeAo5QdZW6nE7PN39hHbaZjL_7Gd4c-o</string>
	<key>GCM_SENDER_ID</key>
	<string>623069830377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppDevIn.InstaPostOnly</string>
	<key>PROJECT_ID</key>
	<string>instagram-post-api</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-post-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623069830377:ios:9473cb847349b689d76478</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-post-api.firebaseio.com</string>
</dict>
</plist>